<html>
<div class="container" style="margin-left:600px; height:300px;width:300px;">
    <h1>{{myWeather.cityName}}</h1>
    <h2>{{myWeather.temp}}&deg;</h2>
    <div class="img" >
        <img src={{myIconUrl}} style="height:39px;">
    </div>
    <h3>{{myWeather.tempMin}}&deg;</h3>
    <h4>{{myWeather.tempMax}}&deg;</h4>
    <h4>{{myWeather.type}}</h4>
    
</div>
<!-- <<form (ngSubmit)="onSubmit(form)"  #form="ngForm">
    <input type="text" name="city" ngModel   placeholder="enter the city name">
    <button name="button">go</button>
</form> -->
<form style="margin-left:600px" >
    <input type="text" placeholder="enter city name" #id1>
    <br>
    <br>
    <input type="button" (click)="onSubmit(id1.value)" style="height:20px;width:50px;" value="enter">
</form>
</html>